*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body
{
    min-width: 375px;
    margin: 0 auto;
}
body {
    background: rgb(208, 206, 233);
    padding: 10px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    margin: 0 auto;
    
}

.logo {
    width: 100%;
    text-align: center;
}

/* HEADER START */

header {
    
    width: 100%;
    max-width: 1280px;

    margin: 1% auto 2%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    padding-bottom: 10px;
}
header a {
    transition: .2s linear;

    text-decoration: none;
    font-size: 1em;
    color: black;
    
}

header a:hover {
    color: white;
    
}


/* HEADER END */

@media screen and (max-width: 1280px){
    body {
        font-size: 20px;
    }
    .content h1::before, .content h2::before {
        width: 100%;
        bottom: 1%;
        right: 0%
    }
    .content h1::after, h2::after {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    body {
        font-size: 15px;
    }
    header {
        flex-direction: column ;
        align-items: center;
    }
    .container  {
        min-width: 300px;
        display: flex;
        flex-direction: column;
    }
    
}

.container {
    
    width: 60%;
    max-width: 1280px;
    margin: 0 auto;
    
    border-radius: 12px;
    background-color: white;
   

   
}

.content{ 
    width: 100%;
    font-size: .7em;
    padding: 3%;
}

h1{
    font-size: 1.3em;
    text-align: center;
    margin: 0 auto 2% ;
    position: relative;
   
}

h2 {
    font-size: 1em;
    text-align: center; 
    margin: 0 auto 2%;
    position: relative;
   
}
.content p {
    margin-bottom: 2%;
}

span {
    font-weight: 800; 
}

h1::before, h2::before{
    content: '';
    width: 35%;
    border-bottom: 1px solid black;
    position: absolute;
    bottom: 40%;
    right: 65%;
    z-index: 2;
}
h1::after, h2::after{
    content: '';
    width: 35%;
    border-bottom: 1px solid black;
    position: absolute;
    bottom: 40%;
    left: 65%;
    
}
