*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html, body
{
    min-width: 375px;
    margin: 0 auto;
}
body {
    background: rgb(208, 206, 233);
    padding: 10px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    margin: 0 auto;
    
}

.logo {
    width: 100%;
    text-align: center;
}

/* HEADER START */

header {
    
    width: 100%;
    max-width: 1280px;

    margin: 1% auto;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 10px;
}
header a {
    transition: .2s linear;

    text-decoration: none;
    font-size: 1em;
    color: black;
    
}
header a:hover {
    color: white;
    
}


/* HEADER END */
@media screen and (max-width: 768px) {
    body {
        font-size: 18px;
    }
    header {
        flex-direction: column ;
        align-items: center;
    }

    .container {
        min-width: 350px;
    }

}
@media screen and (max-width: 1028px){
    body {
        font-size: 15px;
    }
} 


.container {
    min-height: 400px;
    width: 50%;
    max-width: 1280px;
    margin: 2% auto;
    
    border-radius: 12px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}

/* INFO ABOUT ORDERS START */



.content{
    
    width: 100%;

    border-radius: 12px;
    background-color: white;
    
    font-size: .9em;
    text-align: center;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.content p {
    margin: 1%;
    font-size: .9em;
    display: flex;  
    justify-content: center;
    align-items: center;
}


.content a{
    color: black;
    text-decoration: none;
    transition: all .2s;   
}
.content a:hover{
   color: rgb(244,128,178);
}
div.message{
    text-align: center; 
    font-size: 1.3em;
    margin: 1% auto;
}