*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body
{
    min-width: 375px;
    margin: 0 auto;
}
body {
    background: rgb(208, 206, 233);
    padding: 10px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    margin: 0 auto;
    
}

.logo {
    width: 100%;
    text-align: center;
}

/* HEADER START */

header {
    
    width: 100%;
    max-width: 1280px;

    margin: 1% auto;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    padding-bottom: 10px;
}
header a {
    transition: .2s linear;

    text-decoration: none;
    font-size: 1em;
    color: black;
    
}

header a:hover {
    color: white;
    
}


/* HEADER END */
@media screen and (max-width: 768px) {
    body {
        font-size: 18px;
    }
    header {
        flex-direction: column ;
        align-items: center;
    }

    .container, footer {
        min-width: 350px;
    }

}
@media screen and (max-width: 1028px){
    body {
        font-size: 15px;
    }
} 

.container {
    min-height: 400px;
    width: 60%;
    max-width: 1280px;
    margin: 2% auto 0;
    
    border-radius: 12px 12px 0 0;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

/* INFO ABOUT ORDERS START */


.content{
    
    width: 100%;
    padding: 10px;
    background-color: white;
    border-radius: 12px;

    text-align: center;
}

.content:first-child{
    
    width: 100%;

    border-radius: 12px;
    background-color: white;
    
    
    font-size: .7em;
    text-align: center;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
}
.content p {
    margin: 1%;
    font-size: 1em;
    display: flex;  
    justify-content: center;
    align-items: center;
}

.content img{
    width: 90px;
}


.cost {
    font-size: 1em;
    text-align: center;
    
}
footer{
    width: 60%;
    max-width: 1280px;

    margin: 0 auto;
}

footer a{
    display: block;
    padding: 3%;

    border-radius: 0 0 12px 12px;
    border: none;

    color: black;
    text-decoration: none;
    font-size: 1.5em;

    text-align: center;

    background-color: rgba(244, 128, 178, 0.6); 

    transition: all .2s;    
    
}
footer a:hover {
    color: white;
    background:  rgba(106,164,232,0.8883928571428571);
}


a.about_candle{

    color: black;
    text-decoration: none;
}
a.about_candle:hover{
   color: rgb(244,128,178);
}